
.app__navbar-darkmode{
    display: flex;
    justify-content: center;

    
  
    .dark {
        background-color: #292c35;
    }

    .checkbox {
        opacity: 0;
        position: absolute;
    }

    .label {

        width: 30px;
        height: 15px;
        background-color:#111;
        display: flex;
        border-radius:50px;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        transform: scale(1.5);
        cursor: pointer;
    }

    .ball {
        padding: 0;
        border: 1px solid black;

        width: 0.94rem;
        height: 0.94rem;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    .checkbox:checked + .label .ball{
        transform: translateX(0.95rem);
    }
}

// .app__navbar-theme{
//     @media screen and (max-width: 900px){
//         display: none;
//     }
// }

.app__menu-theme{
    align-self: start;
    margin: 1rem 0.9rem;

    svg{
        width: 35px;
        height: 35px;
        margin: 0rem 0rem;
        cursor: pointer;
    }
}